<div class="list row">
  <div class="col-md-6">
    <div class="align-center text-center">
      <h2>Lista de Cursos</h2>
    </div>    
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let curso of cursos; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCurso(curso, i)"
      >
        <h2><strong>{{ curso.nome }}</strong></h2>
        <br/>
        <p>Prof. {{ curso.professor }}</p>
        <p>Sala {{ curso.sala }}</p>
        <p>{{ curso.horarioInicio}} às {{ curso.horarioFim }}</p>
        <Button class="btn btn-primary" routerLink="/cursos/{{ currentCurso.id }}">Editar</Button>
      </li>    
    </ul>    
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCursos()">
      Excluir tudo
    </button>
  </div>  
</div>
